{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Hello, {{ user.nickname() }}!</h1>
    {% if not setup %}
    <p>You can <a href="/setup">populate</a> your account with some messages and groups or just navigate around.</p>
    {% else %}
    <p class="alert alert-success">Your user now has some new messages and belongs to groups "all" and "python".</p>
    {% endif %}
    <p>Go see your <a href="/inbox">inbox</a> or <a href="/compose">send</a> a messages to your email, other emails or groups like "all", "python" or others that you've assigned to users <a href="/profile">profiles</a>.</p>
    <p>Check the <a href="https://github.com/viorels/udacity-messages">source code</a> on Github</p>
    <p>
      {% if setup %}
        <a href="/inbox" class="btn btn-primary btn-lg">Inbox</a>
      {% else %}
        <a href="/setup" class="btn btn-primary btn-lg">Populate</a>
      {% endif %}
    </p>
  </div>
</div>
{% endblock %}