{% extends "base.html" %}
{% block title %}{{ message.subject }}{% endblock %}
{% block content %}
<ul class="list-group">
  <li class="list-group-item"><span class="col-md-1">Date</span>{{ message.sent_time }}</li>
  <li class="list-group-item"><span class="col-md-1">From</span>{{ message.from_user }}</li>
  <li class="list-group-item"><span class="col-md-1">To</span>{{ message.to_user }}</li>
  <li class="list-group-item"><span class="col-md-1">Subject</span>{{ message.subject }}</li>
</ul>
<blockquote><p>{{ message.content }}</p></blockquote>

<form method="post" role="form" class="form-horizontal">
  <input type="hidden" name="action" value="delete">
  <div class="form-group">
    <div class="col-md-offset-11 col-md-1">
      <button type="submit" class="btn btn-default">Delete</button>
    </div>
  </div>
</form>
{% endblock %}